<div class="ui-grid-a">
	<div class="ui-block-a">
		{{#if address}}
		<address>
			{{{formattedAddress address}}}
		</address>
		{{/if}}
	</div>
	<div class="ui-block-b">
		{{#if image}}
		<img src="{{image}}" class="library-thumb" />
		{{else}}
		<img src="images/library-thumb-default.jpg" class="library-thumb" />
		{{/if}}
	</div>
</div><!-- /grid-a -->

<ul data-role="listview" data-inset="true">
	{{#if telephone}}
	<li data-icon="phone"><a href="tel:{{telephone}}">Call</a></li>
	{{/if}}
	{{#if email}}
	<li data-icon="mail"><a href="mailto:{{email}}">Email</a></li>
	{{/if}}
	{{#if lat}}
	<li data-icon="location" ><a href="#library-map?id={{id}}" data-transistion="slide">Map</a></li>
	{{/if}}
</ul>
	<ul data-role="listview" data-inset="true" data-divider-theme="a">
		<li data-role="list-divider">Opening Hours</li>
		<li><span class="hours-day">Monday</span> 1000 - 1400</li>
		<li><span class="hours-day">Tuesday</span> 1000 - 1400</li>
		<li><span class="hours-day">Wednesday</span> 1000 - 1400</li>
		<li><span class="hours-day">Thursday</span> 1000 - 1400</li>
		<li><span class="hours-day">Friday</span> 1000 - 1400</li>
		<li><span class="hours-day">Saturday</span> 1000 - 1400</li>
		<li><span class="hours-day">Sunday</span> 1000 - 1400</li>
	</ul>
