<div class="status" data-inset="false">
<span class="list-item-key">Current Status:</span>On Loan
</div>

<ul data-role="listview" data-inset="true" data-divider-theme="a">
<li><span class="list-item-key">Title</span>{{display.title}}</li>
<li><span class="list-item-key">Author</span>{{display.creator}}</li>
<li><span class="list-item-key">Due Date</span>26th October 2014 (121 days)</li>
<li><span class="list-item-key">Loan Type</span>Short Loan</li>
<li><span class="list-item-key">Class Mark</span>123.456</li>
<li data-icon="location"><a href="#" data-transistion="slide">Locate</a></li>
</ul>

<button class="ui-btn ui-corner-all">Request Loan</button>
